<main class="w-full h-full flex">
  <div class="h-3/4 w-full flex flex-col justify-center items-center gap-10">
    <h2 class="text-4xl text-brand-dark-green font-bold font-roboto-slab">
      Inicia sesión
    </h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="flex flex-col w-full justify-center items-center gap-8 [&>input]:py-2 [&>input]:px-2 [&>input]:rounded-md [&>input]:w-full [&>input]:max-w-md [&>input]:text-brand-dark-green"
    >
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />

      <button class="bg-brand-aqua rounded-md py-3 px-8">Ingresar</button>

      <span class="text-gray-400">
        ¿Es tu primera vez?
        <a routerLink="/signup" class="text-brand-aqua">Regístrate</a>
      </span>
    </form>
  </div>
</main>
