<main
  class="grid grid-cols-1 xl:grid-cols-3 h-full w-full py-16 px-16 justify-center items-center gap-y-12"
>
  <app-pack-card
    title="Paquete pequeño"
    price="10"
    credits="10"
    class="flex justify-center animate-fade-up animate-ease-linear animate-duration-300"
    color="yellow"
  />
  <app-pack-card
    title="Paquete mediano"
    price="25"
    credits="25"
    class="flex justify-center animate-fade-up animate-ease-linear animate-delay-100 animate-duration-300"
    color="blue"
  />
  <app-pack-card
    title="Paquete grande"
    price="50"
    credits="50"
    class="flex justify-center animate-fade-up animate-ease-linear animate-delay-200 animate-duration-300"
    color="purple"
  />
</main>
