<main class="flex flex-col justify-center items-center pt-12 pb-8" *ngIf="userInfo">
  <section class="flex justify-between items-center w-full max-w-7xl gap-2">
    <h3 class="text-2xl lg:text-4xl font-bold">@{{ userInfo.nickname }}</h3>
    <a
      routerLink="/marketplace"
      class="rounded-md bg-brand-aqua text-brand-white py-3 lg:px-8 px-3 text-center"
    >
      Comprar créditos
    </a>
  </section>
  <section class="w-full max-w-7xl">
    <h3 class="text-lg lg:text-2xl">
      Saldo actual: <b class="font-bold">{{ userInfo.credits }} c</b>
    </h3>
  </section>

  <section class="w-full max-w-7xl flex flex-col gap-6">
    <h3 class="text-lg lg:text-2xl font-bold text-center">Historial de transacciones</h3>
    <table
      class="bg-brand-white text-brand-dark-green w-full text-xl text-center rounded-lg table-fixed"
    >
      <thead class="table-header-group">
        <tr class="table-row">
          <th>Fecha</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of userInfo.transactions.reverse()" class="table-row">
          <td class="mt-8 table-cell">
            {{ t.date.toString().slice(0, 10) }}
          </td>
          <td class="mt-8 table-cell">{{ t.amount }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
