<main
  class="lg:px-14 h-full w-full flex flex-col justify-center items-center gap-8 sm:px-2 min-w-full"
>
  <div class="flex w-full justify-center gap-5">
    <app-ball class="animate-fade-right animate-duration-[350ms] animate-ease-out w-[20%] max-w-[100px]"
      ><img src="assets/bingo-letters/dark-green/B.svg" class="max-w-[50%] max-h-[50%]"
    /></app-ball>
    <app-ball [colorIdx]="1" class="animate-fade-right animate-duration-[450ms] animate-delay-100 animate-ease-out w-[20%] max-w-[100px]"
      ><img src="assets/bingo-letters/dark-green/I.svg" class="max-w-[50%] max-h-[50%]"
    /></app-ball>
    <app-ball [colorIdx]="2" class="animate-fade-right animate-duration-[450ms] animate-delay-200 animate-ease-out w-[20%] max-w-[100px]"
      ><img src="assets/bingo-letters/dark-green/N.svg" class="max-w-[50%] max-h-[50%]"
    /></app-ball>
    <app-ball [colorIdx]="3" class="animate-fade-right animate-duration-[450ms] animate-delay-300 animate-ease-out w-[20%] max-w-[100px]"
      ><img src="assets/bingo-letters/dark-green/G.svg" class="max-w-[50%] max-h-[50%]"
    /></app-ball>
    <app-ball [colorIdx]="4" class="animate-fade-right animate-duration-[450ms] animate-delay-[400ms] animate-ease-out w-[20%] max-w-[100px]"
      ><img src="assets/bingo-letters/dark-green/O.svg" class="max-w-[50%] max-h-[50%]"
    /></app-ball>
  </div>

  <img src="assets/logo.svg" />

  <h2 class="text-4xl md:text-5xl font-bold text-center">
    ¡Juega y gana ahora!
  </h2>

  <p class="text-2xl text-balance text-center xl:w-1/3 w-full">
    Apuesta y disfruta del bingo clásico desde la comodidad de tu hogar.
  </p>
  <a
    (click)="playNavigation()"
    class="bg-white text-brand-dark-green rounded-md px-7 py-3 font-bold hover:cursor-pointer"
    >Jugar ahora</a
  >
</main>
