<main
  class="text-brand-dark-green flex flex-col py-10 gap-4 items-center w-full"
>
  <section>
    <h3 class="text-center text-4xl">¿Cuántos cartones quieres tomar?</h3>
  </section>

  <section class="flex flex-col gap-2">
    <div
      class="flex justify-center items-center [&>button]:p-5 [&>button]:bg-brand-blue [&>button]:rounded-md text-brand-white text-4xl"
    >
      <button (click)="decrementQuantity()">-</button>
      <span class="text-brand-dark-green min-w-[80px] text-center">{{
        quantity
      }}</span>
      <button (click)="incrementQuantity()">+</button>
    </div>
    <button (click)="generateCards()" class="rounded-md bg-brand-yellow text-brand-white py-3">Tomar cartones</button>
  </section>

  <section class="flex justify-center">
    <ul class="flex gap-2">
      <li *ngFor="let card of cards" class="max-w-sm">
        <app-bingo-card [numbers]="card.card.flat()" />
      </li>
    </ul>
  </section>

  <section *ngIf="cards.length > 0">
    <button (click)="buyCards()" class="rounded-md bg-brand-aqua text-brand-white py-3 px-6">Comprar</button>
  </section>
</main>
