<main class="text-2xl text-brand-dark-green py-4 px-8">
  <div *ngIf="room" class="flex flex-col shadow-md p-8">
    <h2 class="text-center font-bold text-5xl">
      {{ room.name }}
    </h2>

    <ul class="[&>li]:flex">
      <li>
        <span>Precio del cartón:</span>
        <span>2 c</span>
      </li>
      <li>
        <span>Premio por línea:</span>
        <span>10 c</span>
      </li>
      <li>
        <span>Premio por bingo:</span>
        <span>20 c</span>
      </li>
      <li>
        <span>Frecuencia:</span>
        <span>XDDDDD</span>
      </li>
    </ul>

    <section class="flex justify-evenly">
      <a [routerLink]="'/rooms/' + room.id + '/cards'">Ver mis cartones</a>
      <a>Comprar cartones</a>
    </section>

    <a>Ver juego</a>
  </div>
</main>
