<div class="grid gap-y-4 bg-brand-dark-green p-5 w-full rounded-md">
  <ul
    class="grid grid-cols-5 justify-center [&>li]:text-5xl [&>li]:flex [&>li]:justify-center [&>li]:items-center [&>li]:aspect-square [&>li>img]:h-[80%]"
  >
    <li
      class="rounded-l-lg bg-gradient-to-tl from-brand-red to-brand-red-complement from-[0%] to-[100%]"
    >
      <img src="assets/bingo-letters/white/B.svg" />
    </li>
    <li
      class="bg-gradient-to-tl from-brand-yellow to-brand-yellow-complement from-[0%] to-[60%]"
    >
      <img src="assets/bingo-letters/white/I.svg" />
    </li>
    <li
      class="bg-gradient-to-tl from-brand-green to-brand-green-complement from-[0%] to-[100%]"
    >
      <img src="assets/bingo-letters/white/N.svg" />
    </li>
    <li
      class="bg-gradient-to-tl from-brand-purple to-brand-purple-complement from-[0%] to-[100%]"
    >
      <img src="assets/bingo-letters/white/G.svg" />
    </li>
    <li
      class="rounded-r-lg bg-gradient-to-tl from-brand-blue to-brand-blue-complement from-[0%] to-[100%]"
    >
      <img src="assets/bingo-letters/white/O.svg" />
    </li>
  </ul>

  <ul class="grid grid-cols-5 grid-rows-5">
    <li
      *ngFor="let number of numbers"
      class="aspect-square text-brand-dark-green bg-brand-white flex justify-center items-center font-bold text-5xl border border-brand-dark-green"
    >
      <span
        *ngIf="number !== -1"
        class="aspect-square h-full w-full flex justify-center items-center"
        ><div class="w-full flex justify-center items-center [&>img]:w-[60%] [&>img]:h-full px-2">
          <img
            [src]="'assets/numbers/' + obtainNumberDigits(number)[0] + '.svg'"
          /><img
            [src]="'assets/numbers/' + obtainNumberDigits(number)[1] + '.svg'"
          />
        </div>
      </span>
      <img *ngIf="number === -1" src="assets/star.svg" class="p-1" />
    </li>
  </ul>
</div>
